@font-face {
    font-family: 'Hind Vadodara';
    src : url(../fonts/HindVadodara-Regular.ttf)
 }
 @font-face {
    font-family: 'Playfair Display';
    src : url(../fonts/PlayfairDisplay-Regular.ttf)
 }

body {
    overflow-x: hidden;
   
    background: #FFFFFF;
   
}
@media only screen and (max-width:768px) {
  .cont_1 { z-index:-1 !important;}
  .text5{ width: 100% !important;  }
  .img1 {position: absolute!important;
    left:0px !important;
     height: 600px !important;
    width: 100% !important;}
   .img3 {display: none !important;}
   .img4 {display: none !important;}
  .cont_22 {display: none !important;}
  .cont_32 {top:45% !important;
            left:-10% !important;}
  .text6 {font-size: 30px !important;}
  .text7 {font-size: 30px !important;}
  .img5 {width: 100% !important;}
  .cont_42 {position: relative !important; 
            padding-top: 0px !important;}
  .img10 {height: 600px !important;}
  .cont_4 {height: 650px !important;
  margin-top: 0px !important;
   padding-top: 0px !important;}
   .text2 {font-size: 40px !important;}
   .text3 {font-size: 40px !important;}
   .text4 {font-size: 40px !important;}
  .cont_61 {top:20% !important}
  .cont_6 {height:650px  !important;}
  .cont_41 {width: 100% !important;}
  .img9 {top:580px !important}
  .img2 {display: none !important;}
  .img6 {display: none !important;}
  .text11 {margin-left: 150px !important;
    font-size: 26px !important; }
  .text10 {margin-left: 150px !important;
           font-size: 26px !important; }
  .text13 {display: none !important;}
  .cont_6>img {width: 100% !important;
  margin-left: 6px !important;}
  .cont_63 {left:-10% !important;}
  .text15  {font-size:26px !important;}
  .text14 {font-size:30px !important;}
  .text19 {width: 100% !important;}
  .cont81 {width: 100% !important;}
  .google-map iframe {width: 100% !important;
  height: 100% !important;}
  .cont_2{  
 margin-top: 0px !important;
 padding-top: 10px !important;

}
.container .button {margin:5px !important;}
.container .main-card {margin-left: 0px !important;}
span.text4::after{
 
  top: 30px !important;}
 span.text8::after {bottom:10px !important;}
 span.text12::after {bottom: 10px !important;}
 .img5 {height: 400px !important;}
 .cont_11 {display: none !important;}
 .text1 {display: flex !important;
         justify-content: end !important;}
 .img7 {display: none !important;}
 .img8 {display: none !important;}
 .img9 {display: none !important;}
}

* {margin: 0;
   padding: 0;
box-sizing: border-box;}
.img1 {
    position: absolute;
    left: 778px;
    
}

.cont_ul>li>a{
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration: none;

letter-spacing: 0.01em;

color: #331B3B;
}
.cont_ul>li>a:hover {
    font-weight: 600;
    cursor: pointer;
    position: relative;
   
    
    
    
}
a:hover::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    bottom: 0px;
  
    height: 4px;
    background-color: #f7d250;
    transition: all .2s;
    border-radius: 5px;
    width: 50%;
   
}

.text1{
    font-family: 'Playfair Display';
font-size: 24px;
line-height: 28px;
letter-spacing: 0.01em;

color: #331B3B;

}
.text2 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 87px;
line-height: 99.8%;
letter-spacing: -0.01em;

color: #331B3B;
}
.text3 {
    font-family: 'Hind Vadodara';
font-style: normal;

font-size: 82px;
line-height: 99.8%;
letter-spacing: -0.01em;

color: #331B3B;
}
.text4 {
    font-family: 'Hind Vadodara';
font-style: normal;

font-size: 82px;
line-height: 99.8%;
letter-spacing: -0.01em;

color: #331B3B;
position: relative;
z-index:0;
}

.text5 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 146.3%;
letter-spacing: 0.02em;
width: 500px;
color: rgba(51, 27, 59, 0.66);
}
.button1 {
    position: absolute;
width: 207px;
height: 66px;

border:3px solid #331B3B;
background: #331B3B;
border-radius: 10px;
font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 137.3%;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
}
span.text4::after{
    position: absolute;
    z-index: -1;
    
    content: '';
    
   
    bottom: 30px;
    left: 0;
    height: 15px;
    background-color: #f7d250;
    transition: all .2s;
    
    width: 96%;

}
.img2 {position: absolute;}
.img3 {
    position: absolute;
    top:112px;
    left: 840px;
   }
.img4 {
       
        position: absolute;
        top:150px;
        left:690px;
        width: 650.6px;
        height: 520.85px;
      }
.cont_3 {
    position: relative;
    display: flex;
    width: 100%;
  align-items: center;
  justify-content: center;
 
  
}
.cont_31 {position: absolute;
    z-index: 1;
top:40%;
left:50%;
transform: translate(-50%, -50%);}

.img5 {
    margin-right: 130px;
    position: relative;
    z-index: 1;
    
}
.img6 {
    position: absolute;

left: 860px;
top: 360px;
}
.text6 {
   
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 106.3%;
text-align: center;
letter-spacing: -0.01em;
color: #331B3B;
}
.text7 {
    position: relative;
    
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-size: 48px;
    line-height: 106.3%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #331B3B
}


.container{
    max-width: 1230px;
    width: 95%;
    overflow: hidden;
    
  }
  .container .main-card{
    display: flex;
    margin-left:50px;
     width: 215%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    
    display: flex;

    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
   
    margin-right: 15px;
    transition: all 0.4s ease;
  }
  
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  
  .card .content .media-icons{
    margin-top: 10px;
    display: flex;
  
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
   
  }
  
   .container .button{
    position: absolute;
  
      display: flex;
   
    margin: -35px;
  }
  .button label{
    padding: 5px;
    text-align: center;
    height: 35px;
    width: 35px !important;
    border: 2px solid rgba(0, 0, 0, 0.33);
     border-radius: 20px;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label:hover {
    border: 2px solid #000000;
  }
  
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }
  
  
.cont_32 {
    position: absolute;
    z-index: 1;
top:60%;
left:-2%;

}

.name {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 137.3%;

letter-spacing: 0.055em;
text-transform: uppercase;

color: #331B3B;
}
.job{
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 145.3%;

letter-spacing: 0.02em;

color: rgba(51, 27, 59, 0.66);
}

.text8 {position: relative;
    z-index:0;}
span.text8::after{
    position: absolute;
    z-index: -1;
    
    content: '';
    
   
    bottom: 16px;
    left: 0;
    height: 10px;
    background-color: #f7d250;
    transition: all .2s;
    
    width: 96%;

}
.img7 {
    position: absolute;
}
.img8 {
    position: absolute;
}
.img9 {
    position: absolute;
    left: -25.44px;
top: 1230.82px;

}
.text9 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 146.3%;
letter-spacing: 0.02em;
color: rgba(51, 27, 59, 0.66);
}
.text10 {
    position: absolute;
 
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 106.3%;
letter-spacing: -0.01em;

color: #331B3B;
}
.cont_6 {
   
    position: relative;
    display: flex;
    width: 100%;
  
}
.cont_61 {
    position: absolute;
    z-index: -1;
    top:25%;
left:27%;
transform: translate(-50%, -50%);
   
}
.cont_62 {
    position: absolute;
    z-index: -1;
 top:19%;  
 left:75%;

transform: translate(-50%, -50%);
   
}
.card1{margin-right: 15px;}
.cont_63 {
    position: absolute;
    z-index: 1;
top:38%;
left:-1%;
margin-left: 50px;
}
.cont1{
    max-width: 1200px;
    width: 90%;
    overflow: hidden;
   
    
  }
  .cont1 .main-card1{
      display: flex;
      margin-left: 50px;
      width: 210%;
      transition: 1s;
  }
  #two1:checked ~ .main-card1{
    margin-left: -100%;
  }
  .cont1 .main-card1 .cards1{
    width: calc(100% / 2 - 10px);
    display: flex;
  
  }
  .main-card1 .cards1 .card1{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  
  .cards1 .card1 .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  
  
  .card1 .content .media-icons{
    margin-top: 10px;
    display: flex;
  
  }
  
  
   .cont1 .button{
    width: 100%;
    display: flex;
   
    margin: 12px;
  }
  .button label{
      padding: 5px;
      text-align: center;
      height: 35px;
      width: 35px !important;
      border: 2px solid rgba(0, 0, 0, 0.33);
       border-radius: 20px;
      margin: 0 4px;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .button label:hover {
      border: 2px solid #000000;
    }
  
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card1 .cards1 .card1{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card1 .cards1 .card1{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }
  .img_11  {
      flex:30%;
      padding: 5px;
  }
  .details1 {
      display: flex;
      justify-content: space-between;
      padding-left:10px;
      padding-right: 17px;
  }
  .details_das {
    
    
    font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 146.3%;
  
  color: #331B3B;
  }
  .view>button {
      border: 1px solid #343434;
  border-radius: 100px;
  font-family: 'Hind Vadodara';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 146.3%;
  color: #331B3B;
  width: 92px;
  height: 20px;
  
  }
  
.img10 {
    position: relative;
    z-index: -1;}
.text11 {
    font-family: 'Hind Vadodara';
font-style: normal;

font-size: 48px;
line-height: 106.3%;
letter-spacing: -0.01em;
color: #331B3B;
}


.text12 {position: relative;
    z-index:0;}
span.text12::after{
    position: absolute;
    z-index: -1;
    
    content: '';
    
   
    bottom: 16px;
    left: 0;
    height: 10px;
    background-color: #f7d250;
    transition: all .2s;
    
    width: 96%;

}
.text13 {
    
font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 146.3%;
letter-spacing: 0.02em;

color: #331B3B;
}
.text14 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 110.8%;
text-align: center;
letter-spacing: -0.01em;

color: #331B3B;
}
.text15 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 110.8%;
text-align: center;
letter-spacing: -0.01em;

color: #331B3B;
}
.text16 {position: relative;
    z-index:0;}
span.text16::after{
    position: absolute;
    z-index: -1;
    
    content: '';
    
   
    bottom: 5px;
    left: 0;
    height: 10px;
    background-color: #f7d250;
    transition: all .2s;
    
    width: 96%;

}
.cont71 {
    background: #FFFFFF;
box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
padding:36px 35px 39px 29px;
}
.text17 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 159.3%;
letter-spacing: 0.02em;

color: #331B3B;
}
.text18 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 159.3%;
letter-spacing: 0.02em;
color: #000000;
}
.cont_8 {
   
    background: #000000;
    border-radius: 0px 158px 0px 0px;

}
h2 {
    font-family: 'Playfair Display';
font-size: 36px;
line-height: 42px;
letter-spacing: 0.01em;
font-weight: 400;
color: #FFFFFF;
}
.text19 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 159.3%;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.text20 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 159.3%;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
}
.cont81 {
    width: 400px;
    height: 52px;
    border: 1px solid #FFFFFF;
}
.cont81>input{
    width: 243px;
    background: #000000;
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.3%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:0 10px 0 10px; 
   border: none;
}
.cont81>button{
    width: 157px;
    border:3px solid #FFFFFF;
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 159.3%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #000000;
}



.text21 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 137.3%;
text-align: left;

letter-spacing: 0.055em;
text-transform: uppercase;

color: #331B3B;
}
.text22 {
    font-family: 'Hind Vadodara';
font-style: normal;
font-weight: 300;
font-size: 15px;
margin-top: auto;
letter-spacing: 0.02em;
text-align: left;
color: rgba(51, 27, 59, 0.66);
}

